@font-face {
    font-family: 'Dusha V5';
    src: url('fonts/DushaV5-Regular.eot');
    src: url('fonts/DushaV5-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/DushaV5-Regular.woff2') format('woff2'),
        url('fonts/DushaV5-Regular.woff') format('woff'),
        url('fonts/DushaV5-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

